---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.tsx";
import Features from "../components/Features.tsx";
import FrappeIncubatorSection from "../components/FrappeIncubatorSection.tsx";
import FAQ from "../components/FAQ.tsx";
---

<Layout title="Raven">
	<main>
		<HeroSection />
		<Features client:visible />
		<FAQ />
		<FrappeIncubatorSection />
	</main>
</Layout>

<style></style>
