---
import { Header } from "../components/Header.tsx";
import { Footer } from "../components/Footer.tsx";
import "cal-sans";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Simple, open source messaging tool. Free, forever."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ravicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content="Simple, open source messaging tool. Free, forever."
		/>
		<meta
			property="og:image"
			content="https://github.com/The-Commit-Company/ravenapp.info/assets/19825455/38991a5d-9add-48b2-a947-73d30c00f4c3"
		/>
		<meta property="og:url" content="https://ravenapp.info" />
		<title>{title}</title>
	</head>
	<body>
		<Header client:visible />
		<slot />
		<Footer />
	</body>
</html>
